@page "/"
@inject NavigationManager Navigation

<PageTitle>Inicio</PageTitle>

<div class="container text-center mt-5">
    <h1>¡Bienvenido!</h1>
    <h2 class="text-muted">¿Desea registrar algo el día de hoy?</h2>

    <div class="d-flex justify-content-center gap-3 mt-4">

        <button class="btn btn-primary btn-lg" @onclick="IrAAgregarClientes">
            <i class="bi bi-people"></i> Cliente Nuevo
        </button>

        <button class="btn btn-primary btn-lg" @onclick="IrAAgregarProductos">
            <i class="bi bi-box-seam"></i> Producto Nuevo
        </button>

        <button class="btn btn-primary btn-lg" @onclick="IrANuevaVenta">
            <i class="bi bi-cart-plus"></i> Nueva Venta
        </button>
    </div>
</div>

@code {
    private void IrAAgregarProductos()
    {
        Navigation.NavigateTo("/productos/nuevo");
    }

    private void IrAAgregarClientes()
    {
        Navigation.NavigateTo("/clientes/nuevo");
    }

    private void IrANuevaVenta()
    {
        Navigation.NavigateTo("/ventas/nuevo");
    }
}